<center><h1>Inteligencia Artificial</header1></center>

Presentado por: Jorge Borrero  <br>
Fecha: 27/07/2022

# Importación de librerias necesarias

In [12]:
#Para esta actividad se importarán las siguientes librerías:

#Importacion de la libreria pandas
import pandas as pd

#Importacion de la libreria numpy
import numpy as np

#Importacion de la libreria seaborn
import seaborn as sns

#Importacion de la libreria matplotlib
import matplotlib.pyplot as plt

#Importacion la clase train_test_split de la libreria sklearn
from sklearn.model_selection import train_test_split

#import de dataset
from sklearn import datasets

#import de train test split
from sklearn.model_selection import train_test_split

#import de svm
from sklearn import svm

#import de metrics
from sklearn import metrics

## Cargar el Dataset

In [13]:
#Código para cargar el Dataset

#Código para cargar el Dataset
data_movil = pd.read_csv("train.csv")

# Transformación en un dataframe
df = pd.DataFrame(data_movil)

#visualizacion del dataset
data_movil.head()

#Visualización del dataset
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

## Descripción de la fuente del Dataset

battery_power	

blue	

clock_speed	

dual_sim	

fc	

four_g	

int_memory	

m_dep	

mobile_wt	

n_cores

px_height	

px_width	

ram	sc_h	

sc_w	

talk_time	

three_g	

touch_screen	

wifi	

price_range

## Explique el problema a resolver. 
La problematica es identificar los moviles que disponen de tecnologia 4g

## Caracterización del Dataset

Realice una descripción de los datos con:

>- Número de instancias en total.
>- Número de atributos de entrada, su significado y tipo.
>- Estadísticas de la variable objetivo.
>- Estadísticas los atributos en relación con la variable objetivo.

In [14]:
#Código que responde a la descripción anterior
df.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,...,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,...,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

En un par de párrafos haga un resumen de los principales hallazagos encontrados:

## Preprocesamiento del dataset. Transformaciones previas necesarias para la modelación

In [16]:
#Transformación de las caracteristicas (mire el apartado Feature engineering del aula virtual)

#Asignacion de la variable Age como X
X = df.drop('four_g', axis =1)

#Asignacion de la variable Price como Y
Y = df[['four_g']]

In [17]:
### Estandarización de la data ###
from sklearn.preprocessing import StandardScaler
VariablesEntradaScaler=StandardScaler()
VariableObjetivoScaler=StandardScaler()

In [18]:
#Almacenamiento del objeto de ajuste para referencia posterior
VariablesEntradaFit=VariablesEntradaScaler.fit(X)
VariableObjetivoFit=VariableObjetivoScaler.fit(Y)

In [19]:
#Generación de los valores estandarizados de X e y
X=VariablesEntradaFit.transform(X)
y=VariableObjetivoFit.transform(Y)

## División del dataset en datos de entrenamiento y datos de test

In [20]:
#Código que realice la división en entrenamiento y test, de acuerdo con la estretgia de evaluación planeada. Describa cuál es.

#Dividimos los datos del dataset.
X_train, X_test, y_train, y_test = train_test_split(df.drop('four_g', axis=1), df['four_g'], test_size=0.3, random_state=0)
#Visualizacion de los datos obtenidos
X_train.shape, X_test.shape

((1400, 20), (600, 20))

## Modelamiento

In [22]:
#Códo del modelo

# create a svm classifier with linear kernel
clf = svm.SVC(kernel='linear')

In [23]:
#Entrenamiento
clf.fit(X_train, y_train)

SVC(kernel='linear')

In [24]:
#Test
y_pred = clf.predict(X_test)

## Evaluación del Modelo

Construya un o dos párrafos con los principales hallazgos. Cómo está funcionando el modelo? Calidad en los resultados de predicción.

In [25]:
# Model Accuracy: how often is the classifier correct?
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

# Model Precision: what percentage of positive tuples are labeled as such?
print("Precision:", metrics.precision_score(y_test, y_pred))

# Model Recall: what percentage of positive tuples are labelled as such?
print("Recall:", metrics.recall_score(y_test, y_pred))

Accuracy: 0.725
Precision: 0.6772616136919315
Recall: 0.8935483870967742